
uploads/**
nbproject/**
.idea
node_modules
log
.tags

vscode
build/
tempUpload/

/mainInstance/maininstance/output.json
/mainInstance/maininstance/nishantUpload/
/mainInstance/maininstance/tempUpload/
/sqlInstance/nbproject/
/sqlInstance/uploads/
/mainInstance/nbproject/private/
/mongoInstance/nbproject/private/
/neoInstance/nbproject/private/
/Common/nbproject/private/
/lambda/nbproject/private/
/sqlInstance/NodeJsApplication/nbproject/private/